body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #000000;
}

input, select, textarea, button{
    font-family:inherit;
}

/* Header */
header {
    background-color: #1F2229;
    width: 100%;
    height: 44px;
    
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.header_content {
    width: 850px;
    height: 100%;
    margin: 0 auto;
}

.header_content a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    text-decoration: none;
    line-height: 16,41px;
    color: #ffffff;
}

.header_logo {
    margin-top: 12px;
}

.header_text {
    margin-top: 4px;
}

/* Content */
.content {
    overflow: hidden;
    width: 800px;
    height: 690px;
    margin: 0 auto;
    background-color: #FAF6F6;
}

.content_text {
    width: 100%;
    height: 120px;
    margin-top: 41px;
    text-align: center;
}

.content_text h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* Form */
form {
    width: 566px;
    height: 100%;
    margin: 0 auto;
}

.form_row {
    width: 100%;
    height: 52px;
    margin-top: 40px;
}

.form_row:last-child {
    margin-top: 60px;
}

.form_row * {
    display: inline-block;
    vertical-align: middle;
}

/* Inputs */
.input {
    display: inline-block;
    width: 216px;
    height: 30px;
    border: 1px solid #000000;
    padding: 20px 0 0 24px;
    position: relative;
}

.input:focus {
    outline: none;
    border: 1px solid #000000;
}

.form_row .input_field:first-child {
    margin-right: 78px;
}

.input_date_count {
    display: inline-block;
    width: 147px;
    height: 30px;
    border: 1px solid #000000;
    padding: 20px 0 0 24px;
    position: relative;
}

.input_date_count:focus {
    outline: none;
    border: 1px solid #000000;
}

.input_date_type {
    display: inline-block;
    width: 70px;
    height: 52px;
    text-align: center;

    margin-left: -4px;
    border: 1px solid #000000;
}

.monthly_add {
    height: 100%;
    vertical-align: middle;
    margin-right: 54px;
}


.monthly_add_checkbox {
    margin-top: 13px;
    margin-right: 15px;
    width: 23px;
    height: 23px;

    cursor: pointer;

    border: 1px solid #000000;
    background-color: #ffffff;
}

.monthly_add_text {
    margin-top: 13px;
    font-size: 14px;
}

.to_count_button {
    width: 172px;
    height: 52px;
    background: #33C4A0;
    border: 1px solid #33C4A0;

    cursor: pointer;

    font-weight: 500;
    color: #ffffff;
}

#ok_ellement {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    box-sizing: border-box;
    transform: rotate(-55.3deg);

    display: none;

    margin-left: 4px;

    width: 15.81px;
    height: 8.6px;
}

#sum_to_add {
    display: none;
}

#sum_to_add_title {
    display: none;
}

.input_field title {
    position: absolute;
    margin-left: -226px;
    margin-top: 20px;
}

title.input_date_title {
    margin-left: -156px;
}

/* Bottom result sum */

hr {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.61);
    margin-top: 28px;
}

#result_sum {
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 53px;
}

.result_sum_block {
    display: none;
}

.result_sum_block span {
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}

/* Validation styles */
label.error {
    position: absolute;
    margin-left: -226px;
    margin-top: 60px;
    color: #FF5A5F;
}

label.error[for="date_count"]
{
    margin-left: -155px;
}

input.error
{
    border: 1px solid #FF5A5F;
}